<div class="container w-80">

	<p>Hello, this is a demonstrative site of <a href="https://www.linkedin.com/in/oleksandr-gralievskyi-46301517a/?originalSubdomain=ua">Gralevskyi Oleksandr.</a></p>
	<p>As for me the fastest way to learn foreign lexicon is learning the most frequently used words in sphere you are interested in. 
	<p>
		And this site can help you in such approach. You can take any text you are interested in and parse it into words. 
		In the result of parsing there is number of times a word is occured in the text. 
		You can save your result of parsing and after that delete unnecessary words. 
		In such way you can form lists of words for learning.
	</p>
	<p>The back end (server) site was created using Java 8 and Spring framework. The code is on <a href="https://github.com/Gralevskyi/TextParser">git hub.</a></p>
	<p>The front end is running using angular js. The code is also located on <a href="https://github.com/Gralevskyi/TextParserFront">git hub.</a></p>
	<p>I'm looking for job of java developing and you can find my portfolio on appropriate site or look through my accont on 
			<a href="https://www.linkedin.com/in/oleksandr-gralievskyi-46301517a/?originalSubdomain=ua">linkedin.</a></p>

</div>