<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Text Parser</title>
	</head>
	<body>
	<form method="POST" th:action="@{/logout}" id="logoutForm">
      		<input type="submit" value="Logout"/>
    	</form><br/>
		<h1>Your cabinet</h1><br/>
		<p>Saved words lists:</p>
		
		<div id="UserLists" th:each="savedWordsList : ${UserLists}"> 
			<form method="post" th:action="@{/cabinet/savedWordsList}">
				<input type="text" name="name" th:value="*{savedWordsList.name}"/>
				<button name="button" value="watch">Watch</button>
				<button name="button" value="delete">Delete</button>
			</form>
		</div><br/>
	
		<a href="/main">Parse new text</a>
	</body>
</html>