<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Text Parser</title>
	</head>
	<body>
		<form method="POST" th:action="@{/logout}" id="logoutForm">
      		<input type="submit" value="Logout"/>
    	</form>
				
		<table>
				<tr>
					<th>Word</th>
					<th>Number</th>
				</tr><br/>
				<!--for loop which displays all words with amount of them (number) in the text-->
				<div id="result" th:each="word : ${savedWordsList.wordsMap}"> 
				<tr>
					<td th:text="${word.key}">word</td>
					<td th:text="${word.value}">number</td><br/>
				</tr>
			</table>
			<br/>
		</div>
		
		<a type="text" href="/cabinet">Back to cabinet</a>
	</body>
</html>